{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'CSS/DangNhap.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-form">
        <form class="login-form" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="brand-logo"></div>
          <div class="input-group">
            <label for="mssv">MSSV</label>
            <input
              type="text"
              name="mssv"
              id="mssv"
              placeholder="Nhập MSSV"
              required
            />
          </div>
          <div class="input-group">
            <label for="password">Mật khẩu</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Nhập mật khẩu"
              required
            />
          </div>
          <button type="submit" class="login-btn">Đăng nhập</button>
          {% if messages %} {% for message in messages %}
          <p class="error-message">{{ message }}</p>
          {% endfor %} {%endif %}
          <a href="{% url 'password_reset' %}" class="forgot-password-btn"
            >Quên mật khẩu</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
