{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static "/CSS/TrangChu.css" %}" />
    <title>Trang Chủ</title>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var searchInput = document.querySelector(
          '.search-box input[type="text"]'
        );
        var suggestionsPanel = document.querySelector(".search-suggestions");

        searchInput.addEventListener("input", function () {
          var term = searchInput.value;
          if (term.length > 0) {
            fetch(`/search-courses/?term=${encodeURIComponent(term)}`)
              .then((response) => response.json())
              .then((data) => {
                suggestionsPanel.innerHTML = ""; // Xóa gợi ý trước đó
                suggestionsPanel.classList.add("active"); // Hiện gợi ý
                data.forEach((item) => {
                  var button = document.createElement("button");
                  button.textContent = `${item.ten_mon_hoc} - ${item.ma_mon_hoc}`;
                  button.classList.add("suggestion-item");
                  button.type = "button";
                  button.onclick = function () {
                    window.location.href = `/thong-ke/?ma_mon_hoc=${item.ma_mon_hoc}`;
                  };
                  suggestionsPanel.appendChild(button);
                });
                if (data.length === 0) {
                  var noResult = document.createElement("div");
                  noResult.textContent = "Không tìm thấy môn học";
                  suggestionsPanel.appendChild(noResult);
                }
              });
          } else {
            suggestionsPanel.classList.remove("active"); // Ẩn gợi ý
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="header">
          <img src="{%static '/IMG/icon.png' %}" alt="" />
          <h1 onclick="window.location.href='{% url 'trang_chu' %}';">
            ONEEIGHT
          </h1>
        </div>
        <div class="menu">
          <div
            class="item"
            onclick="window.location.href='{% url 'trang_chu' %}';"
          >
            <div class="img">
              <img src="{%static '/IMG/icons8-home-64.png' %}" alt="" />
            </div>
            <h3>Trang Chủ</h3>
          </div>
          <div
            class="item"
            onclick="window.location.href='{% url 'danh_sach_mon_hoc' %}';"
          >
            <div class="img">
              <img src="{% static "/IMG/book.png" %}" alt="" />
            </div>
            <h3>Môn Học</h3>
          </div>
          <div
            class="item"
            onclick="window.location.href='{% url 'danh_gia' %}';"
          >
            <div class="img">
              <img src="{% static "/IMG/messenger.png" %}" alt="" />
            </div>
            <h3>Đánh Giá</h3>
          </div>
          <div
            class="item"
            onclick="window.location.href='{% url 'thong_ke' %}';"
          >
            <div class="img">
              <img src="{% static "/IMG/graph.png" %}" alt="" />
            </div>
            <h3>Thống Kê</h3>
          </div>
          <div
            class="item"
            onclick="window.location.href='{% url 'tai_khoan' %}';"
          >
            <div class="img">
              <img src="{% static "/IMG/user.png" %}" alt="" />
            </div>
            <h3>Tài Khoản</h3>
          </div>
        </div>
        <div
          class="footer"
          onclick="window.location.href='{% url 'dang_nhap' %}';"
        >
          <div class="img">
            <img src="{% static "/IMG/icons8-log-out-64.png" %}" alt="" />
          </div>
          <h2>Đăng Xuất</h2>
        </div>
      </div>
      <div class="content">
        <div class="search-box">
          <input type="text" id="searchInput"  placeholder="Tìm kiếm môn học..." />
          <ul id="suggestions" style="display: none;"></ul>
          <button type="submit"><i class="fas fa-search"></i></button>
          <div class="search-suggestions"></div>
        </div>
      </div>
    </div>
  </body>
</html>
